@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #333333;
  --primary: #b97bd2;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #1f2227;
    --foreground: #ededed;
    --primary: #b97bd2;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

a {
  text-decoration: underline;
}
